@page
@model MagyarGravir.Shop.Pages.Account.ForgotPasswordModel


<link rel="stylesheet" href="~/css/forgot-password.css" />

<div class="mg-main">
    <div class="forgot-card">
        <h2>Jelszó visszaállítás</h2>

        <form method="post">
            <input asp-for="Email" placeholder="Email cím" required />
            <button type="submit">Küldés</button>
        </form>
        @if (Model.Message != null)
        {
            <p>@Model.Message</p>
        }
    </div>
</div>