@page
@model MagyarGravir.Shop.Pages.Account.ForgotPasswordModel
<h2>Jelszó visszaállítás</h2>

<link rel="stylesheet" href="~/css/login.css" />

<form method="post">
    <input asp-for="Email" placeholder="Email cím" required />
    <button type="submit">Küldés</button>
</form>

@if (Model.Message != null)
{
    <p>@Model.Message</p>
}