@page
@model MagyarGravir.Shop.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Bejelentkezés";
}


<link rel="stylesheet" href="~/css/login.css" />

<div class="card">
    <h2>Bejelentkezés</h2>

    <form method="post">
        <input asp-for="Username" placeholder="Felhasználónév" required />
        <input asp-for="Password" placeholder="Jelszó" type="password" required />
        <button type="submit">Bejelentkezés</button>
    </form>
    <p>
        <a asp-page="/Account/ForgotPassword">Elfelejtetted a jelszót?</a>
    </p>

    @if (TempData["Error"] != null)
    {
        <p class="text-danger">@TempData["Error"]</p>
    }

    @if (TempData["Message"] != null)
    {
        <p class="text-success">@TempData["Message"]</p>
    }
</div>