@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin – Magyar Gravír</title>

    <link rel="stylesheet" href="/css/admin.css" />
</head>

<body>

    <div class="admin-header">
        <img src="/img/logo-header.png" class="logo" />
        <div class="title">Magyar Gravír – Admin</div>
    </div>

    <div class="admin-content">
        @RenderBody()
    </div>

</body>
</html>
