@page "/Admin"
@model MagyarGravir.Shop.Pages.Admin.DashboardModel

@{
    Layout = "/Pages/Admin/_AdminLayout.cshtml";
}


<h1 style="color:black;">Admin panel Magyar Gravir</h1>

<h1>Admin dashboard</h1>
<p>Innen tudod kezelni a termékeket, kategóriákat és rendeléseket.</p>

<ul>
    <li><a href="/Admin/Products/ProductList">Termékek kezelése</a></li>
    <li><a href="/Admin/Categories/CategoryList">Kategóriák</a></li>
    <li><a href="/Admin/Orders/OrderList">Rendelések</a></li>
</ul>

