@page
@model MagyarGravir.Shop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin kezdőlap";
}

<h1>Magyar Gravír – Admin felület</h1>

<a href="/Admin/Products" class="adminHomeLinks">Termékek kezelése</a>
<a href="/Admin/Categories" class="adminHomeLinks">Kategóriák</a>
<a href="/Admin/Orders" class="adminHomeLinks">Rendelések</a>